/node_modules
/public/manifest.webmanifest
/public/hot
/public/ngsw.json
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
access.log
error.log
nginx-error.log
.env
.phpunit.result.cache
.DS_Store
Thumbs.db
*.log
